html,body{padding:0;margin:0;font: 14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;text-align: center;background: #f9f9f9;}
main{
    width: 70%;
    margin: 140px auto;
}
main p{
    margin: 40px 0;
}
main button{
    margin: 10px;
    cursor: pointer;
    padding: 6px 10px;
    outline: none;
}
button:hover{
    color: #fff;
    background: #333;
}